<!DOCTYPE html>
<html>
<head>
	<!-- title -->
	<% include ./includes/title.ejs %>
</head>
<body>
	<div id="root">
		<div class="trans-center">
			<div class="welcome">Hello World!</div>
			<div class="github">By CRONWMMM - <a href="" class="link">GitHub</a></div>
		</div>
	</div>
</body>
</html>
