<!DOCTYPE html>
<html>
<head>
	<!-- title -->
	<% include ./includes/title.ejs %>
	<!-- link -->
	<% include ./includes/link.ejs %>
</head>
<body>
<div id="root">
	<div class="trans-center animated backInRight">
		<div class="404">Not Found.</div>
	</div>
</div>
</body>
</html>
