<!DOCTYPE html>
<html>
<head>
	<!-- title -->
	<% include ./includes/title.ejs %>
</head>
<body>
	<div id="root">
		<div class="trans-center">
			<% include ./includes/img.ejs %>
			<div class="welcome">Hello World!</div>
			<div class="github">
				<span>By CRONWMMM - </span>
				<a href="https://github.com/CRONWMMM/multi_page_app_template" class="link">GitHub</a>
				<a href="https://juejin.im/post/5cb1aabdf265da037b6101d3" class="link">掘金专栏</a>
			</div>
		</div>
	</div>
</body>
</html>
