<!DOCTYPE html>
<html>
<head>
	<!-- title -->
	<% include ./includes/title.ejs %>
</head>
<body>
<div id="root">
	<div class="trans-center">
		<div class="welcome">welcome!</div>
	</div>
</div>
</body>
</html>
